* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: lightgrey;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: darkgray;
}
#signup_div {
  width: 100%;
  position: relative;
}
#signUpForm {
  position: absolute;
  top: 50px;
  /* right: 150px; */
  left: 500px;
  width: 57%;
  height: 450px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  padding: 20px 0px;
  outline: none;
}
#signUpForm div {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: auto;
}
i {
  font-size: 20px;
}
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}
input {
  border-radius: 5px;
  border: 0.5px solid #e2d8d8;
  outline: none;
  padding-left: 10px;
  margin-bottom: 20px;
  height: 40px;
  width: 90%;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
#submit {
  border-radius: 20px;
  font-weight: 600;
  margin-top: 15px;
}
h2,
h4 {
  color: rgb(79, 79, 79);
}
h2 {
  margin-bottom: 5px;
}
.acc {
  text-align: center;
}
a {
  margin-left: 5px;
  color: black;
}
#login_div {
  width: 100%;
  position: relative;
}
#loginForm {
  position: absolute;
  top: 50px;
  right: 500px;
  left: -170px;
  width: 55%;
  height: 480px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  outline: none;
  display: none;
}
#loginForm div {
  position: absolute;
  bottom: 26px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -143px;
  bottom: 10px;
  border-top-left-radius: 39%;
  border-top-right-radius: 39%;
}
.wrongBtn {
  color: black;
  position: absolute;
  top: 25px;
  right: 25px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 25px;
  z-index: 10;
}
#back,
#loginBack {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: white;
  text-align: center;
  font-size: 28px;
  right: 10px;
  top: 13px;
}
#login_Submit {
  border-radius: 5px;
  border: 0.5px solid #e2d8d8;
  outline: none;
  padding-left: 10px;
  margin-bottom: 20px;
  height: 40px;
  width: 90%;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
  font-weight: 600;
  /* margin-top: 15px; */
}
